body{
  font-family: 'Montserrat', sans-serif;
}

hr{
  border:none;
  border-top:7px dotted #e1e1de;
  width:7%;
  margin: 50px auto;
}
/* navbar */

.navbar-padding{
  padding:0;
}
.container-fluid{
  padding: 1.5% 15%;
  text-align: center;
}

/* Title */
#title{
  padding: 3% 15%;
  background-color:  #308abc;
  text-align:center;
}
.navtab{
  color: white;
}

.active{
  background-color: #308abc;
  color: white;
}
.titleh2{
  color: white;
  font-family: 'Ubuntu', sans-serif;

}
.content{
  padding: 3% 20%;
  text-align: center;
}
.content-aboutus2
{
  padding: 3% 20%;
  text-align: left;
}

.contentanchor{
  color:#68bbfb;
}
.contentanchor:hover{
  color: #308abc;
}
.pic{
  width: 10%;
}

/* Book an appointment */
.appointment-btn{
  padding: 3% 15%;
  text-align: center;
}
.apph1{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.btn-color{
  background-color: #308abc;
  border-color: #308abc;
}
.btn-color:hover{
  background-color: #68bbfb;
  border-color: #68bbfb;
}
/* Footer */

#footer{
  background-color: #308abc;
  padding-bottom: 1rem;
  padding-top: 5rem;
  text-align: center;
  color: white;
}
.footera{
  color: white;
}
.footerp{
  margin-top:10px;
}
