{% extends "base.html" %}
{% block content %}

  <section id="title">
    <h2 class="titleh2">Received Messages</h2>
  </section>




  <section class="content">


    {% for msg in msgs %}
    <div class="row">
      <div class="col-sm">
        <h5>Name : {{msg.name}}</h5>
      </div>
      <div class="col-sm">
        <h5>Email : {{msg.email}}</h5>
      </div>
      <div class="col-sm">
        <h5>sent on : {{msg.date.strftime('%Y-%m-%d')}}</h5>
      </div>
    </div>
    <br>
    <div class="col-sm-6 ml-auto mr-auto" >
      <textarea name="Message" rows="8" cols="80" class="form-control" id="" readonly>{{msg.text}}</textarea>
    </div>
    <hr>
    {% endfor %}

  </section>
  {% endblock %}
