{% extends "layout.html" %}
{% block css  %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/people.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/registeration.css') }}">

{% endblock %}
{% block content %}

{% if current_user.type == 'admin' %}
<section class="content-patientInfo">

  <div class="media">
    <img src="{{ url_for('static', filename='images/ammar.jpg') }}" class="mr-3" alt="patient-img" style="width: 20%; border-radius: 100%;">
    <div class="media-body">
      <h5 class="mt-0">Name</h5>
      <p>ID</p>
      <p>Email</p>
      <p>extra info</p>
      <a href="#" class="btn btn-primary btn-color">Add Scan</a>
    </div>
  </div>
</section>

{% else %}

<section class="content-patientInfo">
  <div class="media">
    <img src="{{ url_for('static', filename='images/ammar.jpg') }}" class="mr-3" alt="patient-img" style="width: 20%; border-radius: 100%;">
    <div class="media-body">
      <h5 class="mt-0">Name</h5>
      <p>Email</p>
    </div>
  </div>
</section>

{% endif %}

{% if current_user.type == 'doctor' %}
<section id="signup">

  <div class="container shadow-lg p-3 mb-5 bg-white rounded">

    <h1 class="regh1">Change your information</h1>
    <form>
      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label"><img src="{{ url_for('static', filename='images/badawy.jpg') }}" alt="personal-img" style="width:20%; border-radius: 100%;"></label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="file" class="form-control" id="inputEmail3">
        </div>
      </div>
      <br>

      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label">Name</label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="text" class="form-control" id="inputEmail3" value="Type here to change">
        </div>
      </div>
      <br>

      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label">Email</label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="email" class="form-control" id="inputEmail3" value="someone@examble.com">
        </div>
      </div>
      <br>

      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-color">Update</button>
    </form>

  </div>

</section>
{% endif %}

{% if current_user.type == 'patient' %}

<section id="signup">

  <div class="container shadow-lg p-3 mb-5 bg-white rounded">

    <h1 class="regh1">Change your information</h1>
    <form>
      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label"><img src="{{ url_for('static', filename='images/badawy.jpg') }}" alt="personal-img" style="width:20%; border-radius: 100%;"></label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="file" class="form-control" id="inputEmail3">
        </div>
      </div>
      <br>

      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label">Name</label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="text" class="form-control" id="inputEmail3" value="Type here to change">
        </div>
      </div>
      <br>

      <div class="row mb-12">
        <label for="inputEmail3" class="col-sm-12 col-form-label">Email</label>
        <div class="col-sm-3 ml-auto mr-auto">
          <input type="email" class="form-control" id="inputEmail3" value="someone@examble.com">
        </div>
      </div>
      <br>

      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-color">Update</button>
    </form>

  </div>

</section>
{% endif %}
{% endblock %}
