{% extends "layout.html" %}
{% block css  %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/people.css') }}">
{% endblock %}
{% block content %}

<section id="title">
  <h2 class="titleh2">Patients List</h2>
</section>

<!-- =====Content===== -->
  <section class="content">
    <!-- 1st row -->
    <div class="row">
    <div class="col-sm">
      Name
    </div>
    <div class="col-sm">
      ID
    </div>
    <div class="col-sm">
      <a href="patientInfoAdmin.html" class="btn btn-primary btn-color">More</a>
    </div>
  </div>
<br>
</section>
{% endblock %}
