{% extends "layout.html" %}
{% block css  %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/people.css') }}">
{% endblock %}
{% block content %}

  <table class="table table-hover">
    <tr>
      <th class="table-info">{{ headers[0] }}</th>
      <th class="table-info">{{ headers[1] }}</th>
      <th class="table-info">{{ headers[2] }}</th>
      <th class="table-info">{{ headers[3] }}</th>
      <th class="table-info">{{ headers[4] }}</th>
    </tr>
    {% for row in data %}
      <tr>
        <th>{{ row[0] }}</th>
        <th>{{ row[1] }}</th>
        <th>{{ row[2] }}</th>
        <th>{{ row[3] }}</th>
        <th>{{ row[4] }}</th>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
