{% extends "layout.html" %}
{% block content %}

  <h1>Home</h1>

  <p>The mission of the Center for Dialysis Innovation is to improve the health and well-being of people receiving dialysis treatment. The vision for the Center for Dialysis Innovation is that future dialysis therapy will be complication free, and restorative of kidney health.<br><br>
  We intend to accomplish this mission and vision through the development and testing of novel and innovative technologies and alignment of these technologies with what matters most to patients. The ideal solutions should combine an optimization of dialysis therapy with enhanced opportunities for patient independence and autonomy in self-care. For the Center for Dialysis Innovation, we have assembled a multidisciplinary team at UW Medicine and UW Bioengineering with expertise in uremia, biomaterials engineering, clinical trials in dialysis, laboratory assays of uremic toxicity, renal nutrition and metabolism, hemostasis and thrombosis, innate immunity, quantitative modeling, vascular access, and patient-centered and health services research.</p>

  <div class="content-section">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Contact Us</legend>
              <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.text.label(class="form-control-label") }}
                  {{ form.text(class="form-control form-control-lg") }}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
  </div>


{% endblock %}
